# 환경 변수 / API 키
.env
.env.*

# 개인 설정
config.local.json
settings.local.yml
.vscode

# 비공개 자료
secrets/
private_assets/

# 절대 예외자료
# Develope/ 서브모듈화 됌. 절대 활성화 하지말것.
#.gitignore
#.gitmodules

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# 빌드 결과물
dist/
build/